.pic{
    height: 80px;
    width: 100px;
}
ul li{
    position: relative;
}
ul li a{
    display: inline-block;
    
}
ul li a:hover{
    border-bottom: 3px solid#f1c40f ;
}

.our-primary-menu li ul.dropdown{
    position: absolute;
    width: 200px;
    height: 120px;
    left: 0;
    top: 100%;
    background: #ffff;
  display: block;
 
  margin-top: 25px;
  visibility: hidden;
 transform: scaleY(0); 
 transform-origin: top center;
  transition: .5s;

}
.our-primary-menu li ul.dropdown li{
    display: block;
    list-style: none;
    line-height: 80px;
   
   
}
.our-primary-menu li ul.dropdown li a{
    display: inline-block;

   text-align: center;
   background:blue ;
   border-radius: 20px;
   box-sizing: border-box;
   margin-top: 10px;
   color: white;
   

 
}
.our-primary-menu li:hover ul.dropdown{
    visibility: visible;
    transform: scaleY(1);
}

a{display: inline-block;
    padding: 10px 30px;
    text-decoration: none;

}
.bt{
    background:white;
    border-radius: 10px;
    padding: 5px;
}
.bt:hover{
    background: blue;
}
.logo{
    background: #ddd;
}
.menu img{
    height: 500px;
    border-radius: 50%;
    
}
.menu a{
    background: blue;
    border-radius:20px;
    color: white;
}
.menu a:hover{
    background: white;
    color: black;
}
.niche{
    padding: 100px 0px;
}
.menu{
    background:#edf7ff ;
}
.niche2{
    padding: 50px 0px;
}
.niche2 span{
    border-bottom: 3px solid #9b59b6;
    display: inline-block;
}
.niche2 h3{
    color: #9b59b6;
}
.card span i{
    border-bottom: 3px solid #9b59b6;
    display: inline-block;
    font-size: 30px;
    margin-right: 150px;
    border-radius:50px 50px 50px 0px ;
    background: blue;
    color: white;
    padding: 10px;
}
.card{
    position: relative;
    z-index: 1;
    background: #f8fcff;
    text-align: center;
    
}
.card::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background: blue;
top: 0;
left: 0;
border-radius: 10px;
visibility: hidden;
transition: .5s;

}
.card:hover::before{
    visibility: visible;
    z-index: -1;
}
.foter{
    text-align: center;
    margin-top: 50px;
    background: url(https://img.hotimg.com/video-bg.jpeg );
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0px;
    z-index: 1;
}
.foter{
    color: white;
    position: relative;
    z-index: 1;
}




.foter::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.5);
    z-index: -1;


}
.icon{
    padding: 20px;
}
.icon3{
    width: 90px;
    
    height: 90px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    bottom: 200px;
    border: 2px solid #000;
    animation-duration:3s;
    animation-name: name;
    animation-iteration-count:infinite ;

}
@keyframes name {
       
        33%{
            transform: scale(1.5);
            opacity: 1;

        }
        62%{
            transform: scale(1.2);
            opacity: 0;
           
        }
        100%{
            transform: scale(1.9);
            opacity: 0;
         

        }
}
.icon3 span{

    font-size: 50px;
    
    
        color: #5252f0;
        padding: 20px 0;
    
      
        display: inline-block;
        
    }
    .icon1{
        width: 90px;
        background: #ffff;
        height: 90px;
        margin: auto;
        border-radius: 50%;
    }
    .icon2{
        width: 90px;
      
        height: 90px;
        margin: auto;
        border-radius: 50%;
        position: relative;
        bottom: 100px;
        border: 2px solid #000;
        animation-duration: 4s;
        animation-name:name;
    animation-iteration-count: infinite;
    }
